@import "tailwindcss";

* {
  @apply transition-colors;
}

body {
  @apply bg-slate-50 text-slate-900;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fade-in 0.2s ease-in-out;
  }
}
